@model WebApp.Models.Post

<h1>ゴミ箱情報投稿</h1>

<!-- 投稿フォーム -->
<form method="post">
    <!-- 観光地 -->
    <div>
        <label>観光地</label>
        <input asp-for="PlaceName" />
    </div>
    <br />

    <!-- ごみ箱の場所説明 -->
    <div>
        <label>場所説明</label>
        <textarea asp-for="LocationText"></textarea>
    </div>

    <br />

    <!-- 画像パス -->
    <div>
        <label>画像パス</label>

        <input asp-for="ImagePath" />
    </div>

    <br />

    <!-- 投稿ボタン -->
    <button type="submit">
        投稿
    </button>

</form>

<a href="/Posts">一覧</a>
