@model WebApp.Models.Post

<h1>投稿編集</h1>

<form method="post">
    <!-- 投稿ID保持 -->
    <input type="hidden" asp-for="Id" />

    <!-- 観光地 -->
    <div>
        <label>観光地</label>
        <input asp-for="PlaceName" />
        <span asp-validation-for="PlaceName"
        class=" text-danger">
        </span>
    </div>
    <br />

    <!-- 場所説明 -->
    <div>

        <label>場所説明</label>

        <textarea asp-for="LocationText"></textarea>

        <span asp-validation-for="LocationText"
              class="text-danger">
        </span>

    </div>

    <br />

    <!-- 画像 -->
    <div>
        <label>画像パス</label>
        <input asp-for="ImagePath" />
    </div>
    <br />

    <!-- 更新ボタン -->
    <button type="submit">
        更新
    </button>

</form>