@model List<WebApp.Models.User>

<h1>ユーザー一覧</h1>

<table border="1">

    <tr>
        <th>ID</th>
        <th>名前</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
        </tr>
    }

</table>